# Date: 01-22-2022

# Minimum requirements for a plotly dash application
dash
pandas==1.3.5
matplotlib==3.5.1
dash-bootstrap-components
whitenoise==5.2.0
pandas>=1.2.3
spacy==2.2.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm
gensim>=3.8.3
scikit-learn==0.24.1
matplotlib>=3.3.4
nltk>=3.5
openpyxl

# Required for deployment on Heroku
gunicorn==20.1.0
